.clr{
  clear: both;
}
.block{
  float: left;
  width: 50%;
  margin-top: 10px;
}

.block1{
  float: left;
  width: 100%;
  margin-top: 10px;
}
.filter{
  float: left;
  width: 150px;
  float: left;
  margin-right: 10px;
  margin-top: 15px;
  text-align: center;
}
.label_filter{
  font-size: 11px;
}
.label_headline{
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}
.label_cards{
  font-size: 12px;
  text-align: center;
  float: left;
  width: 33%;
  margin-top: 10px;
}
.container1{
  background-color:#EFEFEF;  
  height: 150px;
  
}
.container2{
  background: linear-gradient(to right, #24C886, #019258);
  float: left; 
  height: 100px;
  width: 90%;
  margin-top: 45px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  border-right-color: #ffffff;
  border-right-width: 10px;
}

.container21{ 
  float: left; 
  text-align: center;
  width: 15%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 15px;
  color: #ffffff;
  font-size: 12px;
  
}

.container211{ 
  float: left; 
  text-align: center;
  width: 15%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 15px;
  color: #ffffff;
  font-size: 30px;
  
}
.container2111{
  background: #ffffff;
  position: absolute; left: 73%;
  
  height: 100px;
  width: 0.1%;
}
.container3{ 
  height: 30px;
  
}

.container31{
  float: left;
  background-color:#EFEFEF;  
  height: 25px;
  width: 49%;
  margin-top: 30px;
  margin-left: 1%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
}
.container4{
  float: left;
  background-color:#EFEFEF; 
  height: 25px;
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
}

.export{
  display: flex;
  justify-content: space-between;
  

}

.csvexport{   
  background: #E47016;
  height: 30px;
  width: 150px;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  color: #ffffff;
  border-width: 0px;
  
}
.csvexport:hover {
  text-decoration: underline;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
}


.center {
  position:absolute;
  margin-top:14px;
  margin-left:50%;
  transform:translate(-50%,-50%);
}
.download-btn {
  width:30px;
  height:20px;
  text-align:center;
  cursor:pointer;
  margin:20px 0px;
  border-radius:10px;
  box-sizing:border-box;
  overflow:hidden;

}

.download-btn div {
  width:100%;
  height:100%;
  font-size:15px;
  font-weight:600;
  text-align:center;
  line-height:50px;
}
.download-btn.btn-1 .top {
  background:#fff;
}
.download-btn .bottom {
  background:#fff;
  border:2px solid #eee;
  color:#222;
}

.download-btn:hover .top {
  margin-top:-36px;
  
}



Headline{
  float: left; 
  width: 20%;
   
}